@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  html,
  body,
  div#root {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .mindar-video-container {
    height: 100vh;
  }

  .mindar-video-container video {
    left: 0 !important;
    object-fit: cover !important;
  }
}
